<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
</head>

<body>
  <h1>Лабораторная работа Пешкова А.Р. БТ-21</h1>
  </br>
  Для перехода на задание 1 "Перевод из системы 6 в систему 10", нажимите: 
  <button onclick="location.href=`task1`">Кнопочка</button></br>
  Для перехода на задание 2 "Произведение двух матриц, используя алгоритм Штрассена", нажимите: 
  <button onclick="location.href=`task2`">Кнопочка</button></br>
  Для перехода на задание 3 "Сколько раз буква встречается в строке", нажимите: 
  <button onclick="location.href=`task3`">Кнопочка</button></br>
  Для перехода на задание 4 "Удаление из текста гласных букв", нажимите: 
  <button onclick="location.href=`task4`">Кнопочка</button>
</body>

</html>