<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задача 1</title>
</head>
<body>
    <h1>Задача 1. Перевод из системы 6 в систему 10 ser</h1>
    <form action="/calc" method="POST"> 
        <label for="NumberFromTask1">Введите число в 6-ой системе</label>
        <input type="text" id="NumberFromTask1" name="NumberFromTask1" required/>
        <button type="submit">Выполнить</button>
    </form><br>
    {{ AnswerFromServer }}
</body>
</html>